:host {
    display: flex;
    align-items: center;
    line-height: initial;
    min-width: 350px;
    padding: 0 var(--unit-lg) 0 var(--unit);
    border: 2px solid var(--mv-color-dark);
    justify-content: space-around;
    .filterbox--dropdown {
        position: relative;
        button {
            text-align: left;
            font-size: var(--unit-lg) !important;
            font-weight: 600;
            white-space: nowrap;
            i {
                margin: 0 var(--unit);
            }
            &:hover {
                color: var(--mv-color-warning);
            }
        }
        .filterbox--submenu {
            position: absolute;
            top: 40px;
            z-index: 9000;
            min-width: 150px;
            button {
                font-size: var(--unit-md-sm) !important;
                font-weight: 400;
                padding: 0 8px;
            }
        }
    }
    input {
        height: 30px;
        min-width: 200px;
        display: inline-flex;
        flex-grow: 1;
        border-radius: var(--unit-lg);
        border: none;
        padding: var(--unit-lg);
        color: var(--mv-color-dark);
        font-size: var(--unit-md-sm);
        margin-right: var(--unit);
    }
    .searchbox--buttons {
        display: flex;
        button + button {
            margin-left: var(--unit);
        }
    }
}
