$marvel-font-family: 'marvel-icons' !default;
$marvel-font-path: '/assets/fonts/marvel-icons' !default;

$mv-chevron-down: '\e90d';
$mv-cyclops: '\e900';
$mv-daredevil: '\e901';
$mv-deadpool: '\e902';
$mv-flash: '\e903';
$mv-groot: '\e904';
$mv-ironman: '\e905';
$mv-magneto: '\e906';
$mv-spidy: '\e907';
$mv-thanos: '\e908';
$mv-thecap: '\e909';
$mv-thor: '\e90a';
$mv-wolverine: '\e90b';
$mv-wonderwoman: '\e90c';
