<nav *ngIf="navToggle$ | async" [ngClass]="{ 'nav--open': (navToggle$ | async).toggle }">
    <mv-dropdown-menu [display]="'column'" [items]="navItems$ | async" [itemTemplate]="dropdownItem">
        <ng-template #dropdownItem let-item>
            <div mvDropdownItem [item]="item">
                <button class="mv-dropdown-item--header" mvButton fill="mv-outline" color="mv-light">
                    <span>
                        {{ item.button.text }}
                    </span>
                    <i *ngIf="item.children" mvDropdownIcon mvIcon animation="mv-flip" name="mv-chevron-down"> </i>
                </button>
                <div mvDropdownSubmenu *ngIf="item.children" [routerUrl]="routerUrl">
                    <ng-container *ngFor="let child of item.children">
                        <button
                            [routerLink]="child.routerLink"
                            class="mv-submenu--button"
                            mvButton
                            fill="mv-solid"
                            color="mv-dark"
                            [routerLinkActive]="'mv-danger'"
                            [routerLinkActiveOptions]="{ exact: true }"
                        >
                            <span>
                                {{ child.text }}
                            </span>
                        </button>
                    </ng-container>
                </div>
            </div>
        </ng-template>
    </mv-dropdown-menu>
    <img class="marvel_logo" src="/assets/images/marvel.svg" alt="marvel_logo" />
</nav>
<main>
    <mv-toolbar
        [navButtonTemplate]="navButton"
        [currentParentLocation]="toolbarLocationUrl$ | async"
        [loading]="toolbarLoader$ | async"
        [itemLocation]="itemRoute$ | async"
        [filtersTemplate]="filters"
    >
        <ng-template #navButton>
            <button
                (click)="onMenuButtonClick()"
                mvButton
                mvMenuButton
                *ngIf="navToggle$ | async"
                [fill]="(navToggle$ | async).fill"
                [color]="(navToggle$ | async).color"
                [toggle]="(navToggle$ | async).toggle"
            ></button>
        </ng-template>
        <ng-template #filters>
            <mv-filter-searchbox
                [filterOptions]="filterOptions$ | async"
                (filterChanged)="onFilterSelected($event)"
            ></mv-filter-searchbox>
        </ng-template>
    </mv-toolbar>
    <router-outlet></router-outlet>
    <div mvOverlay mvNavigationOverlay [color]="'mv-warning'">
        <mv-loader [color]="'mv-dark'" [size]="'mv-loader--big'"></mv-loader>
    </div>
</main>
