<nav [ngClass]="{ 'nav--open': navToggle.toggle }">
    <mv-dropdown-menu [display]="'column'" [items]="navItems" [itemTemplate]="dropdownItem" *ngIf="navToggle.toggle">
        <ng-template #dropdownItem let-item>
            <mv-dropdown-item>
                <ng-container *ngIf="item.children; else noChildren">
                    <button class="mv-dropdown-item--header" mvButton fill="mv-outline" color="mv-light">
                        <span>
                            {{ item.button.text }}
                        </span>
                        <i mvDropdownIcon mvIcon animation="mv-flip" name="mv-chevron-down"></i>
                    </button>
                </ng-container>
                <ng-template #noChildren>
                    <button
                        [routerLink]="item.routerLink"
                        class="mv-dropdown-item--header"
                        mvButton
                        fill="mv-outline"
                        color="mv-light"
                    >
                        <span>
                            {{ item.text }}
                        </span>
                    </button>
                </ng-template>
                <mv-dropdown-submenu *ngIf="item.children">
                    <ng-container *ngFor="let child of item.children">
                        <button [routerLink]="child.routerLink" mvButton fill="mv-solid" color="mv-dark">
                            {{ child.text }}
                        </button>
                    </ng-container>
                </mv-dropdown-submenu>
            </mv-dropdown-item>
        </ng-template>
    </mv-dropdown-menu>
    <img class="marvel_logo" src="/assets/images/marvel.svg" alt="marvel_logo" />
</nav>
<main>
    <button
        (click)="onMenuButtonClick()"
        mvButton
        mvMenuButton
        [fill]="navToggle.fill"
        [color]="navToggle.color"
        [toggle]="navToggle.toggle"
    ></button>
    <router-outlet></router-outlet>
</main>
