:host {
    display: grid;
    grid-template-areas: 'stories detail';
    grid-template-columns: 1fr 300px;
    height: calc(100% - var(--unit-xxxl));
    &.second--gallery {
        grid-template-columns: 1fr 1fr;
    }
    mv-gallery {
        grid-area: stories;
    }
    section {
        grid-area: detail;
        display: flex;
    }
}
