[class^='mv-button-'],
[class*=' mv-button-'],
[class*='mv-button '],
[class*=' mv-button '] {
    height: var(--unit-xxxl);
    color: var(--mv-color-light);
    transition: background, width, margin, color, 200ms ease-in;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--unit-md-sm);
    padding: var(--unit);
    cursor: pointer;
    &:focus {
        outline: 0;
        box-shadow: inset 0 0 0 2px var(--mv-color-primary);
    }
}
.mv-button {
    width: 100%;
    position: relative;
    background-position: center;
    &:hover {
        &.mv-transparent {
            color: var(--mv-color-warning);
        }
    }
    &:active {
        background: rgba(255, 255, 255, 0.2) !important;
    }
    &:disabled {
        color: var(--mv-color-dark-tint) !important;
        cursor: default;
    }
    i {
        color: inherit;
        &:first-child {
            margin: 0 var(--unit);
            color: inherit;
        }
        &:nth-child(2) {
            margin-left: auto;
            margin-right: var(--unit);
        }
    }
}
.mv-button-small {
    width: var(--unit-xxxl);
}
.mv-button.mv-light,
.mv-button.mv-dark {
    &.mv-outline:hover {
        color: var(--mv-color-danger);
        border-color: var(--mv-color-danger);
    }
    &.mv-transparent:hover {
        color: var(--mv-color-danger);
    }
    &.mv-solid.mv-submenu--button:hover {
        color: var(--mv-color-warning);
    }
    &.mv-solid:hover {
        color: var(--mv-color-danger);
    }
}
