.mv-gallery {
    height: calc(100% - 40px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar-track {
        background-color: var(--mv-color-dark);
    }
    &::-webkit-scrollbar {
        width: var(--unit);
        height: var(--unit);
        background-color: var(--mv-color-dark);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--mv-color-danger);
        border-radius: var(--unit);
    }
}

.mv-gallery--item {
    background-size: cover;
    background-position: bottom;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: fadeInUp;
    animation-duration: 300ms;
    figcaption {
        width: auto;
        font-size: var(--unit-lg);
        position: relative;
        font-weight: 600;
        color: var(--mv-color-light);
        text-align: center;
        max-width: 70%;
        overflow-wrap: break-word;
    }
    &::before {
        background-image: inherit;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: filter 400ms ease-out;
        content: '';
        filter: grayscale(1);
    }
    &:hover {
        cursor: pointer;
        &::before {
            filter: grayscale(0);
        }
        figcaption {
            animation: headShake;
            animation-duration: 400ms;
        }
    }
}
